.contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  flex: 1 1 calc(50% - 20px); /* 2 por fila */
}

@media (max-width: 600px) {
  .card {
    flex: 1 1 100%; /* En móvil se hace 1 por fila */
  }
}

body {
  background-color: #141414;
  font-family: Arial, sans-serif;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.card {
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card img {
  height: 180px; /* Ajustamos altura */
  object-fit: cover; /* Mantener proporción y recortar si es necesario */
  width: 100%; /* Que ocupe todo el ancho de la card */
}

.card-title {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}
#loader {
  color: white;
}
