.card {
  flex: 1 1 calc(50% - 20px); /* 2 por fila */
}

@media (max-width: 600px) {
  .card {
    flex: 1 1 100%; /* En móvil se hace 1 por fila */
  }
}
h5 {
  color: white;
}
body {
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.navbar-brand {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.card {
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #cccccc;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px white;
}

.card img {
  height: 180px; /* Ajustamos altura */
  object-fit: cover; /* Mantener proporción y recortar si es necesario */
  width: 100%; /* Que ocupe todo el ancho de la card */
  background-color: #cccccc;
}

.card-title {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link {
  color: #cccccc !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffffff !important;
}
label {
  color: white;
}

.custom-success-modal {
  background-color: #161616; /* gris clarito */
  text-align: center;
  border: none;
  border-radius: 12px; /* bordes redondeados */
  padding: 20px;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
}
.custom-success-modal h5 {
  font-weight: bold;
  color: #ffffff;
  margin-top: 10px;
}
/* Modal de información */
.custom-info-modal {
  background-color: #2c2f33; /* gris oscuro */
  color: #f8f9fa; /* texto claro */
}
.custom-info-modal {
  background-color: #2c2f33;
  color: #f8f9fa;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgb(255, 255, 255);
}

.custom-info-modal .modal-header {
  border-bottom: 1px solid rgb(255, 0, 0);
}

.custom-info-modal .modal-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffffff;
}

.custom-info-modal .btn-close {
  filter: invert(1); /* X blanca */
}

.custom-info-modal img {
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgb(255, 255, 255);
}

.custom-info-modal p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.custom-info-modal strong {
  color: #ffffff; /* azul brillante */
}
